# global options
{
	admin off
	persist_config off
	auto_https off
	log {
		format json
	}
	servers {
		trusted_proxies static private_ranges
	}
}

(backend_upstream) {
	dynamic a {
		name {$BACKEND_DOMAIN:backend.railway.internal}
		port {$BACKEND_PORT:8080}
		refresh 5s
		dial_timeout 3s
		versions ipv4 ipv6
	}
}

(frontend_upstream) {
	dynamic a {
		name {$FRONTEND_DOMAIN:frontend.railway.internal}
		port {$FRONTEND_PORT:3000}
		refresh 5s
		dial_timeout 3s
		versions ipv4 ipv6
	}
}

(lb_settings) {
	lb_policy round_robin
	lb_retries 5
	lb_try_duration 5s
	lb_try_interval 500ms
}

(passive_health_checks) {
	fail_duration 10s
	max_fails 300
	unhealthy_latency 30s
	unhealthy_request_count 300
}

(proxy_headers) {
	header_up Host {upstream_hostport}
	header_up X-Real-IP {http.request.header.CF-Connecting-IP}
	header_up X-Forwarded-For {http.request.header.CF-Connecting-IP}
}

:{$PORT} {
	log {
		format json
	}

	encode gzip zstd

	# ACTUATOR
	handle /actuator* {
		reverse_proxy {
			import backend_upstream
			import lb_settings
			import passive_health_checks
			import proxy_headers
		}
	}

	# BACKEND API
	handle /api/* {
		reverse_proxy {
			import backend_upstream
			import lb_settings
			import passive_health_checks
			import proxy_headers
		}
	}

	# FRONTEND
	handle {
		header {
			X-Frame-Options "SAMEORIGIN"
			X-Content-Type-Options "nosniff"
			X-XSS-Protection "1; mode=block"
			Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.googletagmanager.com https://client.crisp.chat https://www.google-analytics.com https://ssl.google-analytics.com https://settings.crisp.chat https://connect.facebook.net https://challenges.cloudflare.com https://www.clarity.ms https://scripts.clarity.ms https://betterstack.net; style-src 'self' 'unsafe-inline' https://client.crisp.chat https://fonts.googleapis.com; img-src 'self' data: https: blob:; font-src 'self' data: https: https://fonts.gstatic.com; connect-src 'self' https: wss: blob: https://connect.facebook.net; frame-src 'self' https://client.crisp.chat https://www.googletagmanager.com https://www.loom.com https://challenges.cloudflare.com; child-src 'self' blob:; frame-ancestors 'none'; base-uri 'self'; form-action 'self';"
			Referrer-Policy "strict-origin-when-cross-origin"
			Permissions-Policy "geolocation=(), microphone=(), camera=()"
			-Server
		}

		reverse_proxy {
			import frontend_upstream
			import lb_settings
			import passive_health_checks
			import proxy_headers
		}
	}
}